%h3 Welcome
= link_to("Create lobby", new_lobby_path, remote: true) unless has_lobby?
- if has_lobby?
  = render "shared/lobby"
.lobbies__list
  %ul
    = render(partial: "shared/lobbies_list", collection: @lobbies) || "No lobby"
